@import "../../fonts.scss";

.NavListBar_ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Montserrat-regular";
  margin-right: 64px;
  padding-top: 33px;

  & > li {
    padding-top: 10px;

    & > .a {
      color: #9ca6db;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      position: relative;
      // padding-right: 64px;
    }
    & > a.active {
      color: #5f6caf;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background: #5f6caf;
        position: absolute;
        right: -23px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
