@import "../../scss/fonts.scss";
@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.NavListBar_ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Montserrat-regular";
  margin-right: get-vw(64px);
  padding-top: get-vw(33px);

  & > li {
    padding-top: get-vw(10px);
    line-height: get-vw(22px);

    & > .a {
      color: #9ca6db;
      font-size: get-vw(18px);
      line-height: get-vw(22px);
      text-decoration: none;
      position: relative;
    }
    & > a.active {
      color: #5f6caf;

      &:after {
        content: "";
        width: get-vw(10px);
        height: get-vw(10px);
        border-radius: 100px;
        background: #5f6caf;
        line-height: get-vw(22px);
        position: absolute;
        right: get-vw(-33px);
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
