@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";


.Main {
  @include min-width($smPhoneWidth) {
    margin: 0 auto;
    padding: get-vw(60px) 16px;
    display: flex;
    // width: 100%;
  }
  @include min-width($tableWidth) {
    max-width: get-vw(1150px);
    padding: get-vw(60px) 0px;
  }

  // section1
  .sidebar {
    min-width: get-vw(200px);
    @include min-width($smPhoneWidth) {
      display: none;
    }
    @include min-width($tableWidth) {
      border-right: 2px solid $border-lighter-02;
      margin-right: get-vw(64px);
      padding-right: get-vw(24px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
    }

    .header {
      display: flex;
      padding-bottom: get-vw(65px);
      color: $border-lighter;
      align-items: center;

      & > img {
        height: get-vw(55px);
        width: get-vw(48px);
        padding-right: get-vw(24px);
      }
      .header_name {
        font-weight: bold;
        font-size: get-vw(24px);
      }
    }

    .circle_btn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      color: $success-color;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(18px);
      justify-content: flex-end;
      transition: 0.4s ease;
      
      & > p {
        white-space: nowrap;
      }

      &:hover {
        opacity: 0.7;
        transform: scale(1.04);
        color: $success-color-dark;
        svg {
          fill: $success-color-dark;
        }
      }

      .circle_btn__icon {
        width: get-vw(24px);
        padding-left: get-vw(16px);
        fill: $success-color;
        transition: 0.3s ease;
      }
    }
    .circle_btn__logout {
      position: absolute;
      bottom: 0px;
      right: get-vw(24px);
    }
  }
}
