// @import "../../scss/fonts.scss";
@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

// @import "../../scss/components.scss";

.Main {
  @include min-width(320px) {
    margin: 0 auto;
    padding: get-vw(60px) 16px;
    display: flex;
    width: 100%;
  }
  @include min-width(768px) {
    max-width: get-vw(1150px);
    padding: get-vw(60px) 0px;
  }

  // section1
  .sidebar {
    @include min-width(320px) {
      display: none;
    }
    @include min-width(768px) {
      border-right: 2px solid #edf7fa;
      margin-right: get-vw(64px);
      padding-right: get-vw(24px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
    }

    .header {
      display: flex;
      padding-bottom: get-vw(65px);
      color: #b8b8b8;
      align-items: center;

      & > img {
        height: get-vw(55px);
        width: get-vw(48px);
        padding-right: get-vw(24px);
      }
      .header_name {
        font-weight: bold;
        font-size: get-vw(24px);
      }
    }

    .circle_btn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      color: #ffb677;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(18px);
      justify-content: flex-end;

      .circle_btn__icon {
        width: get-vw(24px);
        padding-left: get-vw(16px);

        & path {
          fill: #ffb677;
        }
      }
    }
    .circle_btn__logout {
      position: absolute;
      bottom: 0px;
      right: get-vw(24px);
    }
  }
}
