.Login {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto;
  padding-top: 100px;

  &__input {
    border: 1px solid #5F6CAF;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(123, 123, 123, 0.25);
    border-radius: 4px;
    height: 60px;
    margin-bottom: 20px;

    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    padding: 25px;
    color: #5F6CAF;
  }

  &__shield {
    width: 200px; 
    height: 230px;
    margin: 0 auto;
  }
  &__title {
    margin: 0 auto;
    padding: 24px 0px 64px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    font-family: "Montserrat-bold";
  }

  &__btn {
    background: #FFB677;
    border-radius: 4px;
    padding: 19px 64px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    max-width: 190px;
    align-self: flex-end;
    margin-top: 20px;
  }
}


@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.eot"); 
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/Montserrat-Bold.woff2") format('woff2'),
  url("../fonts/Montserrat-Bold.woff") format('woff'),
  url("../fonts/Montserrat-Bold.ttf") format("truetype");
}