@import "../../../../scss/variables.scss";

.Hint {
  position: absolute;
  top: 0;
  background: transparent;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  // opacity: 0;

  & > p {
    display: flex;
    justify-content: center;
    padding: 1px 0px;
    color: $dark-color;
    font-size: 16px;
  }
}
.danger {
  background: rgb(255, 106, 106);
}
.success {
  background: rgb(74, 230, 74);
}
