@import "../scss/fonts.scss";
@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.Main {
  @include min-width(320px) {
    margin: 0 auto;
    padding: get-vw(60px) 16px;
    display: flex;
    width: 100%;
  }
  @include min-width(768px) {
    max-width: get-vw(1150px);
    padding: get-vw(60px) 0px;
  }

  // section1
  .sidebar {
    @include min-width(320px) {
      display: none;
    }
    @include min-width(768px) {
      border-right: 2px solid #edf7fa;
      margin-right: get-vw(64px);
      padding-right: get-vw(24px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
    }

    .sidebar__header {
      display: flex;
      padding-bottom: get-vw(65px);
      color: #b8b8b8;

      & > img {
        height: get-vw(55px);
        width: get-vw(48px);
        padding-right: get-vw(24px);
      }
      .sidebar__header_name {
        font-weight: bold;
        font-size: get-vw(24px);
      }
    }

    .circle_btn {
      display: flex;
      color: #ffb677;
      font-family: "Montserrat-regular";
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(18px);
      justify-content: flex-end;

      .circle_btn__icon {
        fill: #ffb677;
        width: get-vw(24px);
        padding-left: get-vw(16px);
      }
    }
    .circle_btn__logout {
      position: absolute;
      bottom: 0px;
      right: get-vw(24px);
    }
  }

  .interface {
    //section2
    @include min-width(320px) {
      width: 100%;
    }
    @include min-width(768px) {
      width: auto;
    }

    .interface__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: get-vw(16px);

      & > h1 {
        @include min-width(320px) {
          font-size: 24px;
          line-height: 29px;
          font-weight: 500;
          text-transform: none;
          color: #4e4e4e;
        }
        @include min-width(768px) {
          font-size: get-vw(36px);
          line-height: get-vw(44px);
        }
      }

      .interface__header_btns {
        display: flex;

        .interface__header_btn {
          padding: 0;
          margin: 0;
          border: none;
          display: inline-flex;
          background-color: inherit;
          cursor: pointer;

          &:first-child {
            margin-right: get-vw(45px);
          }

          .icon_pencil {
            width: get-vw(24px);
            fill: red;
            &:hover {
              fill: red;
            }
          }
          .icon_bucket {
            width: get-vw(18px);
          }
        }
      }
    }
    .interface__content {
      @include min-width(320px) {
        height: 451px;
        width: 100%;
        color: #d2d2d2;
        background-color: #eeeeee;
        text-align: center;
        font-weight: bold;
        font-size: get-vw(48px);
        position: relative;
      }
      @include min-width(768px) {
        height: get-vw(712px);
        width: get-vw(834px);
      }

      & > p {
        @include min-width(320px) {
          font-size: 36px;
          line-height: 44px;

          position: absolute;
          top: 45%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
        @include min-width(768px) {
          font-size: get-vw(48px);
          line-height: get-vw(59px);
        }
      }
    }
  }
}
