.Main {
  margin: 0 auto;
  max-width: 1150px;
  display: flex;
  padding-top: 60px; 

  .sidebar { // section1
  border-right: 2px solid #EDF7FA;
  margin-right: 64px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;


    .sidebar__header {
      display: flex;
      padding-bottom: 65px;
      color: #B8B8B8;

      & > img {
        height: 55px;
        width: 48px;
        padding-right: 24px;
      }
      .sidebar__header_name {
        font-weight: bold;
        font-size: 24px;
        //font-family: Montserrat;
      }
    }

    .sidebar__addGroup {
      display: flex;
      color: #FFB677;
      padding-bottom: 33px;
      //font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;

      & > img {
        padding-left: 16px;
      }
    }

    .sidebar__logout {
      display: flex;
      color: #FFB677;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;

      & > p {
        padding-right: 24px;
      }
    }
    .sidebar__navAndLogout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 67vh;
    }
  }

  .interface { //section2


    .interface__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;

      & > h1 {
        font-weight: 500;
        text-transform: none;
        color: #4E4E4E;
      }

      .interface__header_btns {
        display: flex;

        .interface__header_btn {
          padding: 0;
          margin: 0;
          border: none;
          display: inline-flex;
          background-color: inherit;
          cursor: pointer;

          &:first-child {
            margin-right: 45px;
          }

          .icon_pencil {
            fill: red;
            &:hover {
              fill: red;
            }
          }
        }
      }
    }
    .interface__content {
      height: 80vh;
      width: 50vw;
      color: #D2D2D2;
      background-color: #EEEEEE;
      text-align: center;
      font-weight: bold;
      font-size: 48px;
    }
  }
}