@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.NavListBar_ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: $mainFont;
  margin-right: get-vw(64px);
  padding-top: get-vw(33px);

  @include max-width($tableWidth) {
    align-items: flex-start;
    margin-left: 20px;
  }

  & > li {
    transition: 0.4s ease;
    padding-top: 10px;
    line-height: 22px;

    @include min-width($tableWidth) {
      padding-top: get-vw14(10px);
      line-height: get-vw14(22px);
    }
    @include min-width($desktopWidth) {
      padding-top: get-vw(10px);
      line-height: get-vw(22px);
    }

    & > .a {
      color: $link-color;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
      position: relative;
      transition: 0.3s ease;

      @include min-width($tableWidth) {
        font-size: get-vw14(18px);
        line-height: get-vw14(22px);
      }
      @include min-width($desktopWidth) {
        font-size: get-vw(18px);
        line-height: get-vw(22px);
      }

      &:hover {
        color: $contrast-color;
        margin-right: 6px;
      }
    }
    & > a.active {
      color: $contrast-color;

      &:after {
        content: "";
        width: get-vw(10px);
        height: get-vw(10px);
        border-radius: 100px;
        background: $contrast-color;
        line-height: get-vw(22px);
        position: absolute;
        right: get-vw(-33px);
        top: 50%;
        transform: translate(0, -50%);
        display: none;

        @include min-width($tableWidth) {
          display: block;
        }
      }
    }
  }
}
