/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Montserrat-regular', Helvetica, Arial, sans-serif;
$mainFontBold            : 'Montserrat-bold', Helvetica, Arial, sans-serif;
 
// Size
$mainFontColor           : #333333;
$mainFontSize            : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// $largeDesktopWidth       : 1600px;
$desktopWidth            : 1400px;
// $smDesktopWidth          : 1024px;
$tableWidth              : 768px;
// $smTableWidth            : 640px;
// $phoneWidth              : 480px; 
$smPhoneWidth            : 320px; 

// $mainContainer           : 1164px; 


// Main color
$default-color           : #ffffff; 
$default-color-dark      : #000000;
$success-color           : #FFB677;;
$success-color-dark      : #ff8364;
$error                   : #fa3200;
$contrast-color          : #5f6caf;
// $light-color             : #E7E7E7;
// $lighter-color           : #E6E6E6;
$dark-color              : #4e4e4e;
$link-color              : #9ca6db;
// $title-color             : #464646;
// $dark-background         : #9D9D9D;

// $primary-color           : #444ce0;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $purple-color            : #8854d0;

// Neutral Color
// $neutral-primary         : #CCCCCC;
// $neutral-regular         : #606266;
// $neutral-secondary       : #919191;
// $neutral-placeholder     : #C0C4CC;

// Border Color
$border-base              : #d2d2d2;
$border-light             : #eeeeee;
$border-lighter           : #b8b8b8;
$border-lighter-02        : #edf7fa;

/*
   px to vw convertor
*/

$vw-viewport19000: 1800;
$vw-enable: true;
@function get-vw($font) {
  @if $vw-enable {
    $vw-context: $vw-viewport19000 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
  }
@return $font;
}

$vw-viewport14000: 1400;
$vw-enable: true;
@function get-vw14($font) {
  @if $vw-enable {
    $vw-context: $vw-viewport14000 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
  }
@return $font;
}

$vw-viewport1230: 1230;
$vw-enable: true;
@function get-vw1230($font) {
  @if $vw-enable {
    $vw-context: $vw-viewport1230 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
  }
@return $font;
}