@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.groupInfo {
  @include min-width($smPhoneWidth) {
    font-size: 36px;
    line-height: 44px;
    max-width: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  @include min-width($tableWidth) {
    line-height: get-vw14(59px);
    max-width: get-vw14(600px);
  }
  @include min-width($desktopWidth) {
    line-height: get-vw(59px);
    max-width: get-vw(600px);
  }

  .login,
  .password {
    display: flex;
    align-items: center;

    & > p {
      @include min-width($smPhoneWidth) {
        font-size: 20px;
        white-space: nowrap;
      }
      @include min-width($tableWidth) {
        font-size: get-vw14(30px);
        min-width: get-vw14(240px);
      }
      @include min-width($desktopWidth) {
        font-size: get-vw(30px);
        min-width: get-vw(240px);
      }
    }
  }
  button {
    border: none;
    display: inline-block;
    margin-left: 15px;
    margin-top: 6px;
    transition: 0.3s ease;

  &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    .icon_copy {
      @include min-width($smPhoneWidth) {
        fill: $mainFontColor;
        z-index: 999;
        position: relative;
        width: 30px;
        height: 30px;
      }
      @include min-width($tableWidth) {
        width: get-vw(35px);
        height: get-vw(35px);
      }
    }
  }
}
